@font-face {
  font-family: 'Pixel Code';
  src: url('/fonts/PixelCode-Medium.ttf') format('truetype');
  font-display: swap;
}

:root {
  --theme-font-sans: 'Pixel Code', monospace;
  --theme-font-heading: 'Pixel Code', monospace;
}

body {
  font-family: var(--theme-font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--theme-font-heading);
}

/* [data-theme="dark"] {
  --theme-background: #a43535;
  --theme-on-background: #eceff4;
  --theme-primary: #88c0d0;
  --theme-secondary: #5e81ac;
  --theme-muted: #4c566a;
} */

/* Custom margin for resume-biography-3 block */
.wide-margin {
  padding-left: '1rem';
  padding-right: '1rem';
}

@media (min-width: 768px) {
  .wide-margin {
    max-width: 100%;
  }
}

/* Increase left and right margins of main content */
.main {
  margin-left: 10rem;
  margin-right: 10rem;
}

.publication .article-title a:hover {
  text-decoration: underline; /* or keep none if no hover effect */
}