/* @font-face {
  ont-family: 'Pixel Code';
  src: url('/fonts/PixelCode-Medium.ttf') format('truetype');
  font-display: swap;
}

:root {
  --theme-font-sans: 'Pixel Code', monospace;
  --theme-font-heading: 'Pixel Code', monospace;
}

body {
  font-family: var(--theme-font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--theme-font-heading);
} */

/* [data-theme="dark"] {
  --theme-background: #a43535;
  --theme-on-background: #eceff4;
  --theme-primary: #88c0d0;
  --theme-secondary: #5e81ac;
  --theme-muted: #4c566a;
} */

/* Custom margin for resume-biography-3 block */
/* .wide-margin {
  padding-left: '8rem';
  padding-right: '8rem';
}

@media (min-width: 768px) {
  .wide-margin {
    max-width: 100%;
  }
} */

.bio-text {
  /* margin-left: 10%; */
  text-align: justify;
  margin-right: -10%;
}

.text-sm {
  margin-right: -10%;
}

#section-resume-biography-3
  element.style {
      padding-top: 0rem;
      padding-right: 0px;
      padding-bottom: 0rem;
      padding-left: 0px;
  }

.publication .article-title a:hover {
  text-decoration: underline; /* or keep none if no hover effect */
}
